body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    background-color: rgb(12, 181, 12);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

.cta-section {
    background-color: #fff;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(12, 181, 12);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: rgb(12, 181, 12);
}

.cta-section img {
    width: 170px;
}

.btn {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;    
    margin-top: 30px;
    margin-bottom: 50px;
}

.btn button {
    width: 250px; 
    height: 70px; 
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(12, 181, 12);
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

#spn {
    color: green;
}